.App {
  /* text-align: center; */
  padding: 10px;
  font-family: "Roboto";
  font-size: 22px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Timer {
  display: flex;
}

.Graphic {
  width: 50%;
}
